<ion-header>
  <ion-toolbar>
    <ion-title>example06</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col id="1">
    <ion-icon id="gato" (click)="changePos()" name="logo-octocat"></ion-icon>
    </ion-col>
    <ion-col id="2">
    <div></div>
    </ion-col>
    <ion-col id="3">
    <div></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col id="4">
    <div></div>
    </ion-col>
    <ion-col id="5">
    <ion-icon name="exit-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
<p id="fin">El pulpogato se ha marchado</p>
</ion-content>
